/*** Mise en forme des câbles pour les cantons ***/
.table_cantons { 
   width: 85%;
   height: 80%;
   border-collapse:collapse;
   margin: auto;
}
.th_cantons { 
   height: 5%;
   border: 1px solid black;
   background-color: #81BEF7;
}
.td_cantons { 
   border: 1px solid black;
}
/*** Mise en forme des photos des portées ***/
.table_pPortees { 
   width: 85%;
   height: 45%;
   margin: auto;
}
.th_pPortees { 
   height: 5%;
   border: 1px solid black;
   background-color: yellow;
}
.th_pPorteesV { 
   height: 5%;
   border: none;
}
.td_pPortees { 
   width: 30%;
   height: 100%;
   border: 1px solid black;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
/*** Mise en forme des photos des supports ***/
.table_pSupport { 
   width: 85%;
   height: 30%;
   margin: auto;
}
.th_pSupport { 
   height: 5%;
   border: 1px solid black;
   background-color: yellow;
}
.td_pSupport { 
   width: 20%;
   height: 100%;
   border: 1px solid black;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
/*** Mise en forme de la légende ***/
.table_legende { 
   width: 90%;
   height: 1%;
   border-collapse:collapse;
   margin: auto;
}
.td_legende { 
   width: 25%;
   border: 1px solid black;
}
/*** Mise en forme pour l'écran ***/
div {
   background: white;
   width: 46cm;
   height: 32.1cm;
   display: block;
   margin: 0 auto;
   margin-bottom: 0.5cm;
}
